<div class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h3>Bookmarked Segments</h3>
  </section>
  <section class="github_data">
  <% if current_user.token %>

    <div class="github_repos">
      <h3>GitHub Repositories</h3>
      <% @user_dashboard_facade.github_repos(5).each do |repo| %>
        <div class="github_repo repo_id_<%= repo.id %>">
          <p><a href="<%= repo.url %>"><%= repo.name %></a></p>
        </div>
      <% end %>
    </div>

    <div class="followers_following">
      <div class="github_followers">
        <h3>GitHub Followers</h3>
        <% @user_dashboard_facade.github_followers.each do |follower| %>
          <div class="github_follower follower_id_<%= follower.id %>">
            <p><a href="<%= follower.url %>"><%= follower.name %></a></p>
            <% if @user_dashboard_facade.friends.includes?(User.find_by(guid: follower.id)) %>
              <p>Already Friends!</p>
            <% elsif User.find_by(guid: follower.id) %>
              <p><a href="user/add_friend/<%= follower.id %>">Add Friend</a></p>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="github_followings">
        <h3>GitHub Following</h3>
        <% @user_dashboard_facade.github_following.each do |following| %>
          <div class="github_following following_id_<%= following.id %>">
            <p><a href="<%= following.url %>"><%= following.name %></a></p>
          </div>
        <% end %>
      </div>
    </div>

  <% else %>
    <a href="/auth/github" class="btn btn-primary mb1 bg-teal">Connect to Github</a>
  <% end %>
  </section>

</div>
